.TodoList {
  width: 450px;
  margin: 0 auto;
  color: white;
  border-top: 1px solid #1A237E;
}

ul {
  padding: 20px;
}

li {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  list-style: none;
  padding: 5px 5px 5px 5px;
  margin: 10px;
  background-color: #303F9F;
}

button {
  padding: 2px 7px 2px 7px;
  margin-left: 15px;
  font-weight: 700;
}
